
@charset "utf-8";

@use "../global" as *;

.breadcrumbs {
  margin-bottom: 40px;
  padding: 16px 0;
  &-inner {
    width: $width-page-pc;
    margin: 0 auto;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    &-item {
      font-size: 12px;
      line-height: 1.7;
      margin-right: 8px;
      color: $color-text;
      position: relative;
      padding-right: 16px;
      &::after {
        content: "＞";
        display: block;
        position: absolute;
        top: 3px;
        right: 0;
        font-size: 8px;
      }
      a {
        display: inline-block;
        color: $color-text;
        text-decoration: underline;
        &:hover {    
          text-decoration: none;
        }
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
  @include mq() {
    margin: 16px 0 32px;
    padding: 0;
    &-inner {
      width: auto;
      margin: 0 $width-side-sp
    }
    &-list {
      &-item {
        font-size: 10px;
        &::after {
          top: 2px;
        }
      }
    }
  }
}