@charset "utf-8";

@use "../global" as *;

$form-margin: 16px;


form {
  > :last-child {
    margin-bottom: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
select,
textarea {
  width: 100%;
  max-width: 100%;
  height: 40px;
  background: #FFF;
  border: 1px solid $color-border;
  border-radius: 4px;
  font-family: $font-ja;
  font-weight: $font-weight-regular;
  box-shadow: none;
  vertical-align: middle;
  padding: 0 15px;
  appearance: none;
  &:focus {
    outline: none;
    border-color: $color-text;
    box-shadow: 0 0 0 1px $color-text;
  }
  &::placeholder {
    color: #aaa;
  }
  @include mq() {
    padding: 0 12px;
  }
}
textarea {
  height: auto;
  min-height: 10em;
  padding: 15px;
  @include mq() {
    padding: 12px;
  }
}
label {
  cursor: default;
  &:hover {
    cursor: pointer;
  }
}

.error-message {
  color: $color-red;
  font-size: 14px;
  font-weight: $font-weight-bold;
  margin: 0 0 20px;
  .icon {
    width: 16px;
    height: 16px;
    fill: $color-red;
    margin-right: 10px;
    position: relative;
    top: 5px;
  }
  &:empty {
    display: none;
  }
  @include mq() {
    &-wrapper {
      padding-left: $width-side-sp;
      padding-right: $width-side-sp;
    }
  }
}
