@charset "utf-8";

@use "../global" as *;

/* ****************
 * Modal window
 * *************** */
 .modal {
  // opacity:0;
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // overflow-y: auto;
  // text-align: center;
  // transform: translate(0,100%);
  // transition: opacity .4s linear;
  // z-index: 200;
  z-index: 200;
  &::backdrop {
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
  }
  &.modal-size {
    &-l {
      .modal {
        &-content {
          width: 894px;
        }
      }
      .loader-wrapper {
        width: 894px;
      }
    }
    &-m {
      max-height: 75vh;
      .modal {
        &-content {
          width: 590px;
        }
      }
      .loader-wrapper {
        width: 590px;
      }
    }
    &-s {
      .modal {
        &-content {
          width: 420px;
        }
      }
      .loader-wrapper {
        width: 420px;
      }
    }
  }
  // &.is_active {
  //   opacity: 1;
  //   transform: translate(0,0);
  // }
  &.is_loading {
    .modal {
      &-content {
        display: none;
      }
    }
    .loader {
      display: block;
    }
  }
  &-inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 201;
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: #FFF;
    border: 1px solid #D9D9D9;
    overflow: auto;
    max-height: 80vh;
    .contents {
      width: 100%;
      padding: 0;
      margin: 0 auto;
    }
  }
  &-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 40px;
  }
  &-btns {
    display: flex;
    justify-content: center;;
    align-items: center;
    margin-top: auto;
    .btn {
      width: 180px;
      margin: 0 15px;
    }
  }
  &-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
    right: -10px;
    width: 40px;
    height: 40px;
    z-index: 100;
    .icon {
      width: 40px;
      height: 40px;
      fill: #FFF;
    }
  }
  &-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 200;
    cursor: default;
  }
  &-slideup {
    .modal {
      &-inner {
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        transform: translateY(calc(100% + 40px));
        transition: 0.3s;
        overflow: visible;
      }
      &-content {
        border-radius: 20px 20px 0px 0px;
        padding: 0 30px 30px;
        background: #FFF;
        border: 1px solid #D9D9D9;
        box-shadow: none;
        position: relative;
        z-index: 1000;
        max-height: 90vh;
        overflow: auto;
        &-inner {
          width: $width-page-pc;
          margin: 0 auto;
        }
      }
      &-close {
        top: -40px;
      }
      &-group {
        &-overlay {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.5);
          z-index: 200;
          cursor: default;
        }
      }
    }
    &.is_opened {
      .modal-inner {
        transform: none;
      }
      .modal-group-overlay {
        display: block;
      }
      .modal-close {
        transform: none;
      }
    }
    @include mq() {
      .modal {
        &-content {
          border-radius: 10px 10px 0 0;
          max-height: 80vh;
          overflow-y: auto;
          &-inner {
            width: 100%;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .loader {
    display: none;
  }
  @include mq() {
    // opacity: 0;
    &.modal-size {
      &-l, &-m, &-s {
        .modal {
          &-inner {
            width: 94%;
          }
          &-content {
            width: auto;
          }
        }
        .loader-wrapper {
          width: auto;
        }    
      }
      &-m {
        .modal {
          &-inner {
            max-height: 70vh;
          }
        }
      }
    }
    .modal {
      &-inner {
        // top: auto;
        // bottom: 0;
        // left: 0;
        // transform: translate(0, 100%);
        // transition: 0.3s;
        // border-radius: 0;
      }
      &-content{
        padding: 20px;
      }
      &-text {
        font-size: 16px;
      }
      &-btns {
        display: flex;
        justify-content: center;;
        align-items: center;
        margin-top: 40px;
      }
    }
    &.is_active {
      .modal {
        &-inner {
          opacity: 1;
          transform: translate(0,0);
        }
      }
    }
  }
}
body.is_modal-opened {
  position: fixed;
  width: 100%;
  scroll-behavior: auto;
  .modal-overlay {
    display: block;
  }
  .header {
    z-index: 1;
  }
  .item-history {
    position: relative;
    z-index: -1;
  }
}

.search-modal-contents {
  .section-header {
    padding-bottom: 20px;
    border-bottom: solid 1px #D9D9D9;
  }
  .table-wrapper {
    margin: 0 0;
  }
  .table-content {
    width: calc(100% - 110px);
  }
  .table-label {
    width: 110px;
    .title {
      font-weight: bold;
    }
  }
  .table-block {
    padding-bottom: 20px;
    border-bottom: solid 1px #D9D9D9;
  }
  .table-block-search-category {
    select {
      width: 100%;
    }
    .select-category-wrapper + .select-category-wrapper {
      margin-top: 10px;
    }
  }
  .table-block-search-itemcode {
    .input-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
    input[type=text] {
      max-width: 100%;
      width: 100%;
      margin-right: 0;
    }
  }
  .table-block-search-keyword {
    input {
      width: 100%;
    }
  }
  .table-block-search-price {
    input{
      width: 120px;
    }
  }
  .btns {
    .btn {
      width: 140px;
      height: 40px;
      margin: 0 8px;
      line-height: 40px;
      font-size: 14px;
    }
    .btn-cancel {
      color: #FFF;
      background-color: #888;
      border: none;
      &:hover {
        background-color: #444;
      }
    }
  }
  @include mq() {
    .section-header {
      margin-bottom: 16px;
      padding-bottom: 8px;
    }  
    .contents-inner {
      padding: 0;
    }
    .table-block {
      margin-bottom: 16px;
      padding-bottom: 0;
      border: none;
    }
    .table-content {
      width: 100%;
      margin-bottom: 0px;
    }  
    .table-block-search-price {
      input{
        width: 100px;
      }
    }
    .btns {
      padding-top: 16px;
      border-top: solid 1px #D9D9D9;  
      flex-direction: row;
      justify-content: space-between;
      .btn {
        width: calc(50% - 8px);
        margin: 0;
      }
    }
  }
}

#modal-coupon {
  .modal-content {
    padding: 36px 24px 24px;
  }
  .modal-close {
    top: 8px;
    right: 8px;
    transform: translateY(0%);
  }
  .coupon {
    &-detail {
      &-img {
        margin-bottom: 16px;
        img {
          max-width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  .table {
    &-wrapper {
      margin: 0;
    }
    &-label {
      width: 200px;
      padding: 0;
      font-weight: 600;
    }
    @include mq() {
      &-label {
        width: auto;
      }
    }
  }
  @include mq() {
    .modal-content {
      padding: 16px 16px 24px;
    }  
  }
}