@charset "UTF-8";

@use "../global" as *;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &-inner {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 600px;
    height: 200px;
    max-height: 80vh;
    overflow-y: auto;
    text-align: center;
   }
  &-message {
    font-size: 18px;
    margin-bottom: 20px;
  }
  &-btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .btn {
      margin: 0 10px;
      &-size-m {
        min-width: calc(50% - 5px);
      }
    }
  }
  @include mq() {
    &-inner {
      width: calc(100vw - $width-side-sp * 2);
      max-width: 100%;
      height: 160px;
      padding: 15px;
      border-radius: 5px;
     }
     &-message {
      font-size: 16px;
      margin-bottom: 10px;
     }
     &-btns {
      margin-top: 30px;
      .btn {
        margin: 0 5px;
      }
     }
  }
}