@charset "utf-8";

@use "../global" as *;

.swiper-prev, .swiper-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #444;
  z-index: 10;
  &::after {
    content: "";
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:hover {
    opacity: 0.8;
  }
  &.swiper-button-disabled {
    display: none;
  }
}
.swiper-prev {
  left: 0;
  &::after {
    border-left: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
  }
}
.swiper-next {
  right: 0;
  &::after {
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
  }
}
.swiper-dots {
  position: absolute;
  bottom: -16px !important;
  left: 0;
  width: 100%;
  text-align: center;
  .swiper-pagination-bullet {
    width: 40px;
    height: 4px;
    border-radius: 0;
    background: #D9D9D9;
    margin: 0 4px;
    &-active {
      background: var(--color-main, #444);
    }
  }
}
// .swiper-initialized {
//   position: relative;
//   overflow: hidden;
// }
@include mq() {
  .swiper-prev, .swiper-next {
    display: none;
  }
}
