@use '../../styles/global/index.scss' as *;

.favorite-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    width: 24px;
    height: 24px;
    fill: #c0c0c0;
  }

  &.is_active {
    .icon {
      fill: $color-red;
    }
  }
}
