@charset "UTF-8";

@use "../global" as *;

.sidebar {
  width: $width-sub;
  @include mq() {
    width: auto;
    margin-top: 32px;
  }
  &-category {
    border-bottom: 1px solid #D9D9D9;
    &-wrapper {
      margin-bottom: 40px; 
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      padding: 10px 0;
      .js_toggle-trigger {
        display: block;
        width: 24px;
        height: 24px;
        background: #444;
        border-radius: 50%;
        padding: 0;
        position: relative;
        &::before, &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 2px;
          background: #FFF;
          transition: 0.3s;
        }
        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
          
        }
        &.is_toggle-opened {
          &::after {
            transform: translate(-50%, -50%) rotate(0);
          }
        }
      }
      a:not(.js_toggle-trigger) {
        display: block;
        position: relative;
        width: 100%;
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          right: 10px;
          width: 8px;
          height: 8px;
          border-top: 2px solid $color-text;
          border-right: 2px solid $color-text;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
    &-brand {
      font-size: 18px;
      font-weight: 500;
      padding: 16px;
      background: #F5F5F5;
      line-height: 1;
    }
    &-content {
      padding: 24px 8px;
    }
    &.is_toggle-opened {
      .sidebar-category {
        &-header {
          border-bottom: 1px solid #D9D9D9;
        }
      }
    }
  }
  &-subcategory {
    margin-bottom: 20px;
    &-header {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
      a {
        display: block;
        padding-right: 20px;
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          right: 2px;
          width: 7px;
          height: 7px;
          border-top: 2px solid #5F5F5F;
          border-right: 2px solid #5F5F5F;
          transform: translateY(-50%) rotate(45deg);
        }
      }
      .brand-dropdown-list-item-img {
        display: none;
      }
    }
    &-list {
      padding-left: 8px;
      &-item {
        font-size: 12px;
        margin-bottom: 10px;
        a {
          display: block;
          padding-right: 20px;
          position: relative;
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 2px;
            width: 7px;
            height: 7px;
            border-top: 2px solid #5F5F5F;
            border-right: 2px solid #5F5F5F;
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
    }
  }
}