@charset "UTF-8";

@use "../global" as *;

.coordinate, .staff {
  &-list {
    display: grid;
    grid-gap: 14px 14px;
    @include mq() {
      grid-gap: 11px 11px;
    }
    &-wrapper {
      &.js_coordinate-slider, &.js_staff-slider {
        display: flex;
        grid-gap: 0;
        margin-right: 22px;
        position: relative;
        overflow: hidden;
        .coordinate-list, .staff-list {
          display: flex;
          grid-gap: 0;
          &-item {
            margin: 0 14px 14px 0;
          }
        }
        &.swiper-initialized {
          opacity: 1;
        }
      }
      @include mq() {
        .coordinate-list, .staff-list {
          margin: 0 $width-side-sp;
        }
        &.swiper-initialized {
          .coordinate-list, .staff-list {
            margin: 0;
          }
        }
      }
    }
    &-item {
      &-img {
        aspect-ratio: 1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-text {
        display: flex;
        align-items: center;
        margin-top: 16px;
      }
      &-icon {
        width: 32px;
        height: 32px;
        margin-right: 12px;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
      }
      &-name {
        font-size: 14px;
      }
      &-shop {
        color: #888;
        font-size: 12px;
      }
      @include mq() {
        &-text {
          margin-top: 8px;
        }
      }
    }
  }
  @include mq() {
    &-list {
      &-wrapper {
        margin: 0 $width-side-sp;
        &.js_coordinate-slider, &.js_staff-slider {
          margin: 0 -12px;
        }
      }
    }
  }
}
.coordinate {
  &-list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 14px 14px;
    @include mq() {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 11px 11px;
    }
    &-wrapper {
      .swiper-prev, .swiper-next {
        top: 80px;
        transform: translateY(0);
      }
    }
  }
}
.staff {
  &-list {
    grid-template-columns: repeat(6, 1fr);
    @include mq() {
      grid-template-columns: repeat(3, 1fr);
    }
    &-wrapper {
      .swiper-prev, .swiper-next {
        top: 50px;
        transform: translateY(0);
      }
    }
    &-item {
      &-img {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}
