@use './styles/index.scss' as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: clip;
  padding-top: 170px;
  @include mq() {
    padding-top: 56px;
  }
}

.main {
  flex: 1 0 auto;
}

.contents {
  width: $width-page-pc;
  margin: 0 auto;
  padding: 60px 0 80px;
  position: relative;
  z-index: 1;
  @include mq() {
    width: auto;
    margin: 0 $width-side-sp;
    padding: 30px 0 40px;
  }
}

.page-header {
  font-size: 36px;
  margin-bottom: 40px;
  @include mq() {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.section-header {
  font-size: 24px;
  margin-bottom: 20px;
  @include mq() {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
