@use '../../styles/index.scss' as *;


.top-mv {
  position: relative;
  overflow: visible;
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  overflow: hidden;
  @include mq() {
    padding: 0;
  }

  &-list {
    &.swiper {
      max-width: none;
      margin: 0;
      padding: 0;
      overflow: visible;
    }

    &-item {
      height: auto;

      &-link {
        display: block;
      }

      picture,
      img {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 1619 / 971;
        object-fit: cover;
        object-position: center;
        @include mq() {
          aspect-ratio: 1448 / 1086;
        }
      }
    }
  }

  .swiper-prev, .swiper-next {
    background: $color-primary;
  }
}
.swiper-slide {
  backface-visibility: visible !important;
}
